#!/bin/bash

PATH_add bin

export RAILS_ENV=development

export PORTFOLIO_DATABASE_HOST=localhost
export PORTFOLIO_DATABASE_USER=postgres
export PORTFOLIO_DATABASE_NAME=portfolio-development
export PORTFOLIO_DATABASE_PASSWORD=(DTPWt!)gX28beE0aFyvH0kcOQrmqC*6IJxo4f

export RAILS_MAX_THREADS=5
export WEB_CONCURRENCY=1
